@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
}

span {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.7rem;

    color: #F07B7B;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 5rem;
    line-height: 6.1rem;
    display: flex;
    color: #404267;
}

h3 {
    width: 171px;
    height: 54px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.9rem;

    color: #F07B7B;
}

h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 2.3rem;
    line-height: 2.8rem;

    color: #F07B7B;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.7rem;
    padding: 2%;

    color: #404267;
}

button {
    width: 264px;
    height: 58px;

    cursor: pointer;

    background: #E4E4EF;
    border-radius: 20px;
    border: none;
}

input {
    width: 478px;
    height: 50px;
    border: none;
    
    background: #E4E4EF;
    border-radius: 10px;
}

ul {
    list-style-type: none;
}

.organizating {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* início da sidebar */

.sidebar {
    /* visibility: hidden; */
    position: fixed;
    width: 20%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #16142F;
}

.rectangle a {
    width: 271px;
    height: 68.16px;
    margin-bottom: 60px;
    align-items: center;
    justify-items: center;
    display: flex;

    background: #404267;
    border-radius: 10px;
}

.rectangle {
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: flex;
}

/* Início minha conta */

.content {
    display: flex;
    align-items: center;
    flex-direction: column;
    /*justify-content: center;*/
    width: 75%;
    height: 100vh;
}

.containerInside{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
}
.my-Account {
    width: 40%;
    flex-direction: column;
}

.disabled {
    cursor: no-drop;
}

.profile {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-Picture {
    width: 300px;
    height: 300px;

    border-radius: 500px;
    background: #E4E4EF;
}

.address h3 {
    padding: 1%;
}

.containerInside h3 {
    margin-left: 10%;
}

/* Fim minha conta */