@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

:root {
    font-size: 62.5%; /* 1rem = 10px */
}

section {
    height: 100vh;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.7rem;

    color: #F07B7B;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;
    margin-left: 800px;

    color: #404267;
}

h3 {
    width: 171px;
    height: 54px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 4rem;
    line-height: 4.9rem;

    color: #F07B7B;
}

h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 2.3rem;
    line-height: 2.8rem;

    color: #F07B7B;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 3.7rem;

    color: #404267;
}

button {
    width: 264px;
    height: 58px;
    left: 1548px;
    top: 624px;
    cursor: pointer;

    background: #E4E4EF;
    border-radius: 20px;
    border: none;
}

input {
    width: 600px;
    height: 50px;
    left: 623px;
    top: 422px;
    border: none;

    background: #E4E4EF;
    border-radius: 10px;
}

/* início da sidebar */

.sidebar {
    /* visibility: hidden; */
    position: fixed;
    width: 352px;
    height: 942px;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #16142F;
}

/* Início do perfil */
.profile {
    width: 271px;
    height: 66px;
    
    background: #404267;
    border-radius: 10px;
}

.content-Profile {
    display: flex;
}

/* Fim do perfil */

/* Início das doações solicitadas */

.donations-Requested {
    width: 271px;
    height: 66px;
    left: 51px;
    top: 438px;

    background: #404267;
    border-radius: 10px;
}

.content-Donations-Requested {
    display: flex;
}

/* Fim das doações solicitadas */

/* Início das doações adquiridas */

.donations-Acquired {
    width: 271px;
    height: 66px;
    left: 37px;
    top: 416px;
    
    background: #404267;
    border-radius: 10px;
}

.content-Donations-Acquired {
    display: flex;
}

/* Fim das doações adquiridas */

/* Início do controle de doações */

.donation-Control {
    width: 271px;
    height: 66px;
    left: 37px;
    top: 416px;

    background: #404267;
    border-radius: 10px;
}

.content-Donation-Control {
    display: flex;
}

/* Fim do controle de doações */

/* Início do alterar senha */

.change-Password {
    width: 271px;
    height: 66px;
    left: 37px;
    top: 416px;

    background: #404267;
    border-radius: 10px;
}

.content-Change-Password {
    display: flex;
}

/* Fim do alterar senha */

/* Início do sair */

.exit {
    width: 271px;
    height: 66px;
    left: 37px;
    top: 416px;
    
    background: #404267;
    border-radius: 10px;
}

.content-Exit {
    display: flex;
}

/* Fim do sair */

/* Fim da sidebar */

/* Início minha conta */

.my-Account {
    margin-left: 470px;
    display: inline-block;
}

.ppf {
    display: inline-block;
}

.profile-Picture {
    width: 300px;
    height: 300px;
    margin-left: 660px;

    border-radius: 500px;
    background: #E4E4EF;
}

.change-PFP {
    margin-right: 500px;
}

/* Fim minha conta */

/* Início do Endereço */

.address {
    margin-left: 470px;
}

/* Fim do Endereço */