@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black-color: #16142F;
    --blue-color: #201E45;
    --purple-color: #404267;
    --orange-color: #F07B7B;
    --grey-color: #C4C4C4;
    --letras-color: #BEBEFF;
    font-size: 62.5%; /* 1rem = 10px */
}

header{
    padding: 1%;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #16142F;
}

.Logo{
    cursor: pointer;
}
.minhaConta{
    /*flex-direction: row;*/
    color: #BEBEFF;
    font-size: 2.5rem;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}
.minhaconta{
    color: #BEBEFF;
    flex-direction: row;
    display: flex;
    align-items: center;
}
.minhaconta p{

}
.titulo{
    text-align: center;
    padding: 1%;
}
.container_status{
    display: flex;
    position: relative;
    width: 70%;
    height: 50px;
    border: black;
    background: #C4C4C4;
    border-radius: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -0%);
    margin-top: 4%;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
}
.container_status:hover{
    background: #BEBEFF;
}
.divproduto{
    display: flex;
    flex-direction: row;
}
.status{
    cursor: pointer;
}
.detalhes{
    margin-right: 1%;
}
#btn{
    display: none;
}
#btn:checked + label > div {
    width: 70%;
    height: 150px;
}