@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black-color: #16142F;
    --blue-color: #201E45;
    --purple-color: #404267;
    --orange-color: #F07B7B;
    --grey-color: #E4E4EF;

    font-size: 62.5%; /* 1rem = 10px */
}

#login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--purple-color);
}

.boxCenter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 70%;
    background-color: var(--blue-color);
    border-radius: 1.6rem 1.6rem 0 0;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3.4rem;
    padding-top: 0.9rem;
    margin-top: 5rem;
}

.boxLogin {
    display: flex;
    align-items: center;

    font-weight: 800;
    font-size: 3rem;
    line-height: 7.3rem;
    color: var(--grey-color);
    margin-bottom: 2rem;
}

#msgError {
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    width: 45rem;
    height: 5rem;
    padding: 1rem;
    border-radius: 0.4rem;
    display: none;
    font-size: 2rem;
}

.boxForm input {
    width: 46.4rem;
    height: 6rem;
    border-radius: 1.6rem;
    
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    padding: 1rem;

    display: block;
    margin-top: 2rem;
}

.boxForm input::placeholder {
    color: var(--orange-color);
}

.fa-eye {
    position: absolute;
    margin-top: -3.7rem;
    margin-left: 43rem;
    color: var(--orange-color);
    cursor: pointer;
    font-size: 2rem;
}

.boxForm .esqueci {
    position: absolute;
    font-size: 1.4rem;
    color: var(--orange-color);
    cursor: pointer;
}

button {
    width: 17.6rem;
    height: 5rem;
    color: var(--orange-color);
    border-color: var(--orange-color);
    border-radius: 3rem;

    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.6rem;
    cursor: pointer;
}

footer {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 70%;
    height: 10%;
    background-color: var(--black-color);
    color: var(--grey-color);

    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3.6rem;

    gap: 1.5rem;
    padding-right: 3rem;
    border-radius: 0 0 1.6rem 1.6rem;
}

.cadastre {
    width: 18rem;
    height: 5rem;
    color: var(--orange-color);
    border-color: var(--orange-color);
    border-radius: 3rem;

    font-weight: 800;
    font-size: 1.6rem;
    line-height: 3.6rem;
}

@media(max-width: 500px){
    .boxCenter {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 90%;
        height: 80%;
        background-color: var(--blue-color);
        border-radius: 1.6rem 1.6rem 0 0;
    }
    .boxForm input {
        width: 36rem;
        height: 6rem;
        border-radius: 1.6rem;
        
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        padding: 1rem;
    
        display: block;
        margin-top: 2rem;
    }
    .fa-eye {
        position: absolute;
        margin-top: -3.7rem;
        margin-left: 32rem;
        color: var(--orange-color);
        cursor: pointer;
        font-size: 2rem;
    }
    button {
        width: 14rem;
        height: 5rem;
        color: var(--orange-color);
        border-color: var(--orange-color);
        border-radius: 3rem;
    
        font-weight: 800;
        font-size: 2rem;
        line-height: 3.6rem;
        cursor: pointer;
    }
    footer {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 90%;
        height: 10%;
        background-color: var(--black-color);
        color: var(--grey-color);
    
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2rem;
    
        gap: 1rem;
        padding-right: 3rem;
        border-radius: 0 0 1.6rem 1.6rem;
    }
    .cadastre {
        width: 15rem;
        height: 5rem;
        color: var(--orange-color);
        border-color: var(--orange-color);
        border-radius: 3rem;
    
        font-weight: 800;
        font-size: 1.6rem;
        line-height: 3rem;
    }
}