@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black-color: #16142F;
    --blue-color: #201E45;
    --purple-color: #404267;
    --orange-color: #F07B7B;
    --grey-color: #E4E4EF;

    font-size: 62.5%; /* 1rem = 10px */
}

#paginaInicial{
    width: 100vw;
    height: 100vh;
}

header{
    padding: 1%;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 10%;
    background-color: #16142F;
    align-items: center;
}

.Logo{
    width: 14%;
    cursor: pointer;
}
.Logo img{
    width: 80%;
}
.imgheader{
    transform: scale(0.50);
}
.Divbusca{
    display: flex;
    width: 25%;
    height: 50px;
    background: #E4E4EF;
    border-radius: 50px;
    align-items: center;
}
.busca{
    width: 80%;
    height: 43px;
    background: none;
    border: none;
    font-size: 1.5rem;
}
.busca:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}
.botaobusca{
    width: 60px;
    height: 45px;
    background: #E4E4EF;
    border: none;
    border-radius: 50px;
}
.imgbusca:active{
    transform: scale(0.80);
}
.menu{
    list-style:none;
    border: none;
    float:left;
}
.menu li{
    position:relative;
    float:left;
    border: none;
}
.menu li a{color: #BEBEFF; text-decoration:none; padding:5px 10px; display:block;}

.menu li a:hover{

    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px #fff;
}
.menu li ul li a{
    font-size: 1.5rem;
    color: black;
}
.menu li  ul{
    position:absolute;
    top:40px;
    left:0;
    background-color:#fff;
    display:none;
}
.menu li{
    display: flex;
    align-items: center;
}
.menu li:hover ul, .menu li.over ul{display:block;}
.menu li ul li{
    border: none;
    display:block;
    width:100%;
}
@media(max-width: 950px){
    .Logo img{
        width: 100%;
    }
    .minhaConta img{
        width: 50%;
    }

    .menu{
        font-size: 1rem;
    }
    .minhaConta p{
        font-size: 1.5rem;
    }
    .pheader{
        display: none;
    }
    .Divbusca{
        width: 40%;
        height: 40px;
    }
    .botaobusca{
        width: 50px;
        height: 25px;
    }
    .imgbusca{
        width: 60%;
    }
}
.minhaConta{
    flex-direction: row;
    color: #BEBEFF;
    font-size: 2.5rem;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}
.minhaconta{
    color: #BEBEFF;
    flex-direction: row;
    display: flex;
    align-items: center;
}

.HomeContent{
    text-align: center;
    position: relative;
    width: 90%;
    background-color: #E4E4EF;
    top: 20%;
    left: 50%;
    transform: translate(-50%, +10%);
}
.Gallery{
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.GalleryCard{
    background-color: white;
    margin: 0.7%;
    text-align: center;
    width: 282px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}
.GalleryCard:hover{
    transform: scale(1.05);
}
.CardTitle{
    color: #404267;
    font-size: 2rem;
    margin-top: 10%;
    margin-bottom: 10%;
}
.GalleryCard img{
    width: 100%;
    height: 183px;
}
.article{
    color: black;
    font-size: 1.5rem;
    margin: 0.7%;
}
.RequestProduct{
    background-color: #F07B7B;
    width: 100%;
    height: 3rem;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}
.RequestProduct:hover{
    background-color: #404267;
}
.more{
    background-color: #F07B7B;
    width: 20%;
    height: 5rem;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    margin: 1%;
}
.more:hover{
    background-color: #404267;
}
.RequestProduct:active{
    transform: scale(0.95);
}
